.form input[type=text],
.form input[type=password]{
   /* margin-left: 6.5%;
   margin-top:20%; */
   border: none;
   background-color: transparent;
   border-bottom: 3px solid tomato;
   color: antiquewhite;
}

#username{
    margin-left: 6.5%;
    /* border: none; */
    height: 40px;
    width: 350px;
}

#username:focus,
#password:focus,
#login:focus{
    outline: none;
    border-bottom-color: chartreuse;
}

#password{
    margin-left: 6.5%; 
    height: 40px;
    width: 350px;
}

#login{
    margin-left: 6.5%;
    height: 40px;
    width: 350px;
    border-radius: 20px;
    border:none;
    background-color: tomato;
    color: antiquewhite;
    font: bold;
    letter-spacing: 2mm; 
}

.div{
    border-style: solid;
    border-color: tomato;
    height: 450px;
    width: 400px;
    align : center;
    margin-left:35%;
    margin-top:7.5%;
    background: rgba(0, 0, 0, 0.5);
}

.a1{
    color: antiquewhite;
    /* font-weight: bold; */
    font-size: 15px;
    margin-left: 36.5%;
}

.a2{
    color: tomato;
    /* font-weight: bold; */
    font-size: 20px;
    margin-left: 27%;
    letter-spacing: 1px;

}

.p1{
    color: tomato;
    font-size: 25px;
    margin-left: 32.5%;
    font-weight: bold;
    letter-spacing: 2mm;
    margin-top: 10%;
}

.hr1{
    color: antiquewhite;
    margin-left: 5%;
    margin-top: 9%;
    width:40mm;
}

.hr2{
    color: antiquewhite;
    margin-right: 5%;
    margin-top: -6%;
    width:40mm;

}

.p2{
    color: antiquewhite;
    margin-top: -5%;
    margin-left: 48%;
}
